
.justdiv
{
    display:flex;
    justify-content:center;
    align-items: center;
    border-color: black;
    height: 50%;
    width: 100%;
    padding-top:25%;
}
  
    .rektangel {
    width: 300px;
    height: 150px;
    background: #dd6b4d;
    
  }





  .grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 80%;
    height:100vh;
    background-color: blue;
    max-width: 80%;
    gap:10px



  }




.grid-item-a {
    grid-column: 2/7;
    grid-row: 9/10 ;
   background-image: url(/images/collab.png);
}

  .grid-item-b {
    grid-column: 2/4;
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-row-start: 4;
    grid-row-end: 8;
    background-image: url(/images/background1.jpg);
    z-index: 2;
  }
  .grid-item-c {
    grid-column-start:8  ;
    grid-column-end:12;
    grid-row-start: 4;
    grid-row-end: 9;
    background-image: url(/images/collab.png);

  }

  .grid-item-d {
    grid-column-start:2;
    grid-column-end:12;
    grid-row-start:2;
    grid-row-end:4;   
    background-color: green;

  }

  .grid-item-e {
    grid-column-start:2;
    grid-column-end:8;
    grid-row-start:8;
    grid-row-end:9;   
    background-color: red;


  }

  .grid-item-f {
    grid-column-start:7;
    grid-column-end:12;
    grid-row-start:9;
    grid-row-end:9;   
    background-color: red;


  }


.grid-item-g {
    grid-column-start:4;
    grid-column-end:8;
    grid-row-start:4;
    grid-row-end:8;   
    background-color: red;


  }



